TZ=America/Bogota
HERMES_OS_BIND=127.0.0.1
N8N_PORT=5678
NODERED_PORT=1880
MQTT_PORT=1883
HERMES_OS_TOKEN=change-me
HERMES_BIN=hermes
HERMES_BRIDGE_HOST=0.0.0.0
HERMES_BRIDGE_PORT=8787
HERMES_BRIDGE_TIMEOUT=300
